# Copy to `.env` and fill in real values. `.env` is gitignored - DO NOT COMMIT it.

########################################################################
# MEDIA GENERATION , SEE `docs/media-gen`
########################################################################

# ElevenLabs sound effects / speech generation, please use fish.audio below
ELEVENLABS_API_KEY=

# MusicAPI.ai - Suno 3rd Party API for music generation
GEN_MUSIC_ENDPOINT=https://api.musicapi.ai/api/v1/sonic/create
GET_MUSIC_ENDPOINT=https://api.musicapi.ai/api/v1/sonic/task/
MUSIC_API_KEY=
MUSIC_MODEL_VERSION=sonic-v6
